numpy==1.22.4
pandas==1.4.4
scipy==1.7.0
ipywidgets==8.0.2
seaborn==0.12.0
matplotlib==3.5.2
nb-black==1.0.7
optuna==3.2.0
mrmr_selection==0.2.8
BorutaShap==1.0.16
feature_engine==1.1.0
scikit-learn==1.1.2
lightgbm==3.3.2
shap==0.41.0
rich==12.5.1
pyarrow==9.0.0
numba==0.56.2
plotly==5.10.0
jupyterlab==3.4.7
